@import "../../styles/theme";

.app-header {
  background-color: #784ba0;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  height: 48px;
  display: flex;
  flex: none;
  &__link {
    text-decoration: none;
    position: relative;
  }
  &__logo {
    padding: 0;
    margin: 0;
    height: 48px;
    width: 230px;
    background: url("./logo.svg") no-repeat 16px center;
  }
}
